mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin social()
  .social
    div.inner
      .icon-bg.social-insta
    div.inner
      .icon-bg.social-vk
    div.inner
      .icon-bg.social-github

mixin menu()
  nav.menu
    ul.menu__inner
      li
        a(href="#").menu__item.link Главная
      li
        a(href="#").menu__item.link Обо мне
      li
        a(href="#").menu__item.link Навыки
      li
        a(href="#").menu__item.link Работы
      li
        a(href="#").menu__item.link Отзывы
      li
        a(href="#").menu__item.link Связаться
